@use 'variables.scss' as v;

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}

p {
    margin: 0;
    line-height: 1.2;
}

a {
    color: v.$color-secondary-light;
}